 <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <h1 class="text_clr">Rajeev Kumar</h1>
                            <p>I am a student percuing <span class="text_clr">MCA</span> from
                            <span class="text_clr">NIT JAMSHEDPUR</span></p>
                    </div>
                    <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_right">
                        <div class="card fig_about" style="width: 50rem;">
                            <img src="img/Rajeev.jpeg" class="card-img-top" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
         