<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/registerkiraye">Register Renter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registerland">Register Lord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/renter">Login Renter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/land">Login Lord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/book"> Book Now</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/UploadRoom"> Upload Rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logoutr"> logout renter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logoutl"> logout land</a>
        </li>
      </ul>
    </div>
  </div>
</nav>